In [9]:
%pylab inline
import pandas as pd
import numpy as np
import scipy as sp
from pandas.io.json import json_normalize
import json
from datetime import date, timedelta
from time import time

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn import metrics 
from sklearn.cross_validation import KFold, StratifiedKFold 
from sklearn import cross_validation


import warnings
warnings.filterwarnings('ignore');

Populating the interactive namespace from numpy and matplotlib

In [487]:
raw_df = pd.read_csv('dataset.csv')

In [488]:
raw_df.head()

,a_0,a_1,a_2,a_3,a_4,a_5,a_6,a_7,a_8,a_9,...,a_53,a_54,a_55,a_56,a_57,a_58,a_59,a_60,a_61,Target
0,3.0,2.0,3.0,0.0,613,3.0,0.0,22.0,0.0,65.200000,...,988.795182,212450.84,449.0,55417.85,133.0,225091.48,1270.0,78912.84,424.0,True
1,0.0,0.0,0.0,0.0,735,0.0,0.0,32.0,0.0,291.000000,...,663.370531,24593.29,122.0,10034.06,49.0,23253.25,78.0,9841.76,34.0,False
2,0.0,0.0,0.0,0.0,835,0.0,16296.0,947.0,0.0,356.733333,...,7649.520830,116966.75,35.0,46832.77,12.0,174258.51,285.0,52581.96,104.0,False
3,9.0,8.0,16.0,0.0,659,5.0,0.0,192.0,1.0,370.700000,...,941.660487,12781.87,31.0,5685.00,9.0,12938.37,55.0,5704.71,21.0,False
4,0.0,0.0,22.0,0.0,612,3.0,118443.0,3191.0,1.0,226.633333,...,7927.986524,177633.34,9.0,15800.00,2.0,202820.51,53.0,22405.25,15.0,False

In [489]:
raw_df.shape

(10000, 63)

### Check Missing Values

In [490]:
#Column 57 (a_57) has null values.
unique(np.where(pd.isnull(raw_df))[1])

array([57])

In [491]:
#Will just replace nulls with mean of that column for now absence of knowing anything about that
# raw_df.a_57 = raw_df.a_57.fillna(raw_df.a_57.mean)
raw_df.a_57 = np.where(np.isnan(raw_df.a_57), mean(raw_df.a_57), raw_df.a_57)

In [492]:
pd.isnull(raw_df).sum().sum()

0

### Columns With Categorical Dummy Variables

In [493]:
categorical_variables = []
for col in raw_df.columns[:-1]:
    if len(unique(raw_df[col])) == 2:
        print col, unique(raw_df[col])
        categorical_variables.append(col)

a_8 [ 0.  1.]
a_15 [ 0.  1.]
a_16 [ 0.  1.]
a_20 [0 1]
a_21 [0 1]
a_22 [0 1]
a_23 [0 1]
a_24 [0 1]
a_25 [0 1]
a_26 [0 1]
a_27 [0 1]
a_28 [0 1]
a_29 [0 1]
a_30 [0 1]
a_31 [0 1]
a_32 [0 1]
a_33 [0 1]
a_34 [0 1]
a_35 [0 1]
a_36 [0 1]
a_37 [0 1]
a_38 [0 1]
a_39 [0 1]
a_40 [0 1]
a_41 [0 1]
a_42 [0 1]

In [494]:
categorical_df = raw_df[categorical_variables]

In [495]:
dropped_categorical_df = raw_df.drop(categorical_variables, axis = 1)

In [496]:
dropped_categorical_df.shape

(10000, 37)

### Remove Outliers

In [497]:
def is_outlier_mean(data, m = 3):
    return abs(data - np.mean(data)) > m * np.std(data)

In [498]:
rows_with_outliers = []
for col in dropped_categorical_df.columns[:-1]:
    rows_with_outliers.append(np.where(is_outlier_mean(raw_df[col])))
    
outlier_rows = list(unique([item for sublist in [row[0] for row in rows_with_outliers] for item in sublist]))

In [499]:
removed_outliers_df = pd.DataFrame()
removed_outliers_df = dropped_categorical_df.drop(dropped_categorical_df.index[outlier_rows])

In [500]:
removed_outliers_df.shape

(7604, 37)

In [501]:
pd.isnull(removed_outliers_df).sum().sum()

0

### Standardize Numeric Features

In [502]:
#Standardize 
standardize_numeric_features = removed_outliers_df.columns[:-1]

In [503]:
mean_sd_numeric_features_from_model = dict()

for feature in standardize_numeric_features:
    mean_sd_numeric_features_from_model[feature] = (removed_outliers_df[feature].mean(), removed_outliers_df[feature].std(ddof=0))

In [504]:
final_df = pd.DataFrame()
for feature in standardize_numeric_features:
    final_df[feature] = (removed_outliers_df[feature] - mean_sd_numeric_features_from_model[feature][0]) / mean_sd_numeric_features_from_model[feature][1]

In [505]:
pd.isnull(final_df).sum().sum()

7604

In [506]:
# final_df.insert(0, 'Target', np.where(removed_outliers_df.Target,1,0))

In [507]:
final_df.head()

,a_0,a_1,a_2,a_3,a_4,a_5,a_6,a_7,a_9,a_10,...,a_52,a_53,a_54,a_55,a_56,a_57,a_58,a_59,a_60,a_61
0,-0.294184,-0.129407,-0.313258,NaN,-0.565572,0.192619,-0.836136,-0.993984,-1.411903,-1.102394,...,-0.491241,-0.488687,0.630743,3.927769,0.289888,2.960123,0.685031,3.400778,0.658645,3.000198
1,-0.713566,-0.650047,-0.567060,NaN,1.244543,-0.854826,-0.836136,-0.982091,1.126091,-0.613427,...,-0.473443,-0.549593,-0.445341,0.384542,-0.403439,0.493889,-0.454846,-0.722220,-0.420471,-0.663928
2,-0.713566,-0.650047,-0.567060,NaN,2.728243,-0.854826,-0.309881,0.106126,1.864934,0.853474,...,1.351445,0.757921,0.083792,-0.558151,0.158734,-0.592429,0.397953,-0.006230,0.247271,-0.006264
3,0.544578,1.432512,0.786549,NaN,0.116930,0.890916,-0.836136,-0.791801,2.021920,-0.002218,...,-0.499170,-0.497509,-0.512999,-0.601493,-0.469879,-0.680508,-0.513099,-0.801774,-0.485105,-0.786066
5,-0.433978,-0.650047,-0.567060,NaN,-0.832638,0.890916,-0.508002,-0.166226,-1.377808,-1.224636,...,1.321620,3.086386,-0.370893,-0.926560,0.017532,-0.915388,-0.373908,-0.988554,0.012969,-0.973969

In [508]:
pd.isnull(final_df).sum()

a_0        0
a_1        0
a_2        0
a_3     7604
a_4        0
a_5        0
a_6        0
a_7        0
a_9        0
a_10       0
a_11       0
a_12       0
a_13       0
a_14       0
a_17       0
a_18       0
a_19       0
a_43       0
a_44       0
a_45       0
a_46       0
a_47       0
a_48       0
a_49       0
a_50       0
a_51       0
a_52       0
a_53       0
a_54       0
a_55       0
a_56       0
a_57       0
a_58       0
a_59       0
a_60       0
a_61       0
dtype: int64

In [510]:
#Drop column 3 as it's all NaNs
del final_df['a_3']

### Get Rid of Some Highly Correlated Numeric Features

In [511]:
correlated_features = final_df.corr().abs().unstack().sort_values(kind='quicksort')

In [512]:
correlated_features[(correlated_features>0.8) & (correlated_features<1.0)][::2]

a_46  a_50    0.813926
a_49  a_53    0.819986
a_10  a_19    0.849858
a_46  a_47    0.855052
a_48  a_46    0.855803
a_10  a_44    0.877717
a_52  a_48    0.897303
a_48  a_51    0.904920
a_52  a_47    0.907277
a_56  a_58    0.910397
a_44  a_19    0.911133
a_47  a_51    0.921512
a_56  a_54    0.927464
a_58  a_60    0.939764
a_55  a_57    0.939891
a_54  a_60    0.941297
a_14  a_13    0.943940
a_61  a_59    0.945212
a_60  a_56    0.975133
a_52  a_51    0.983736
a_48  a_47    0.986846
a_58  a_54    0.993094
dtype: float64

In [514]:
correlated_features_to_delete = ['a_58','a_48','a_52','a_60','a_61','a_54','a_55','a_58','a_56','a_47','a_44','a_48','a_10','a_49']

In [515]:
final_df = final_df.drop(correlated_features_to_delete, axis=1)

In [516]:
#Recombine with all Categorical Variables
final_df = pd.concat([categorical_df.drop(categorical_df.index[outlier_rows]), final_df], axis = 1)

In [517]:
final_df.insert(0, 'Target', np.where(removed_outliers_df.Target,1,0))

In [518]:
final_df.head()

,Target,a_8,a_15,a_16,a_20,a_21,a_22,a_23,a_24,a_25,...,a_18,a_19,a_43,a_45,a_46,a_50,a_51,a_53,a_57,a_59
0,1,0.0,0.0,0.0,0,0,0,0,0,0,...,-0.646476,-1.254426,0.690978,-0.516532,-0.406538,-0.272791,-0.510014,-0.488687,2.960123,3.400778
1,0,0.0,0.0,0.0,0,0,0,0,0,1,...,-0.613894,-0.901394,-0.682628,-0.833181,-0.363577,-0.380612,-0.521355,-0.549593,0.493889,-0.722220
2,0,0.0,0.0,0.0,0,0,0,0,0,1,...,-0.489597,0.687249,-0.835251,-0.833181,0.690957,1.152831,1.360622,0.757921,-0.592429,-0.006230
3,0,1.0,0.0,0.0,0,0,0,0,0,1,...,-0.343851,-0.636620,0.233109,1.383360,-0.372150,-0.228122,-0.515983,-0.497509,-0.680508,-0.801774
5,0,0.0,0.0,0.0,0,0,0,0,1,1,...,-0.132084,-0.901394,0.233109,-0.516532,-0.374561,-0.231253,1.219174,3.086386,-0.915388,-0.988554

### Upsample Minority Class

In [519]:
df_final_np = final_df.values

In [520]:
#UP-SAMPLING APPROACH - OVER-SAMPLE THE MINORITY CLASS to 50/50
#Resample to take care of class imbalance issue
retained_rows = np.where(df_final_np[:,0]==1.0)[0]
churned_rows = np.where(df_final_np[:,0]==0.0)[0]

churned_percentage = 0.50
churned_sample_size = int(df_final_np.shape[0] * churned_percentage)
retained_sample_size = int(df_final_np.shape[0] * (1 - churned_percentage))

sampled_churned_rows = np.random.choice(churned_rows, churned_sample_size, replace=False)
sampled_retained_rows = np.random.choice(retained_rows, retained_sample_size, replace=True)

df_upsampled_final = np.concatenate((df_final_np[sampled_churned_rows], df_final_np[sampled_retained_rows]), axis=0)

X_final_np = df_upsampled_final[:,1:]
Y_final_np = df_upsampled_final[:,0]
df_upsampled_final.shape

(7604, 50)

In [521]:
Y_final_np.sum() * 1.0 / Y_final_np.shape[0]

0.5

In [522]:
X_final_np.shape

(7604, 49)

In [523]:
Y_final_np.shape

(7604,)

In [524]:
print np.isinf(X_final_np).sum().sum()
print np.isnan(X_final_np).sum().sum()

0
0

### Train a Forward Stepwise Selection Logistic Regression Model for 5 Features

In [525]:
features_name_in_model = list(final_df.columns[1:])

In [526]:
features = dict()
for k, v in enumerate(features_name_in_model):
    features[k] = np.array([item[k] for item in X_final_np])

In [527]:
model = LogisticRegression(C=1e10) #Set cost parameter very high to achieve no regularization
best_features = []
best_auc = 0

#Get first best feature
for key, X in features.iteritems():
    auc_score = cross_validation.cross_val_score(model, np.reshape(X, (X.shape[0],1)), Y_final_np, cv=5, scoring='roc_auc').mean()
    if auc_score > best_auc: best_first_feature = key
    
best_features.append(best_first_feature)
new_best_set = features[best_first_feature]

#Add additional 4 features to get 5 best features
#Don't know how to combine the first feature into this loop because of the np.reshape thing: need to refactor
for i in xrange(4):
    best_auc = 0
    for key, X in features.iteritems():
        if key not in best_features:
            auc_score = cross_validation.cross_val_score(model, np.column_stack((features[key], new_best_set)), Y_final_np, cv=5, scoring='roc_auc').mean()
            if auc_score > best_auc: 
                best_current_feature = key
                best_auc_score = auc_score
    best_features.append(best_current_feature)
    new_best_set = np.column_stack((features[best_current_feature], new_best_set))
    
print "Best AUC score from selected 5 best features using forward stepwise selection: %.3f" % best_auc_score

Best AUC score from selected 5 best features using forward stepwise selection: 0.698

In [528]:
X = new_best_set
Y = Y_final_np
forward_stepwise_model = LogisticRegression(C=1e10).fit(X,Y)
forward_stepwise_features = list(np.array(features_name_in_model)[best_features])

In [529]:
print 'Names of best 5 feaures from forward-stepwise selection:', forward_stepwise_features

Names of best 5 feaures from forward-stepwise selection: ['a_59', 'a_57', 'a_53', 'a_51', 'a_50']

### Score the val.csv Data Using the Forward-Stepwise Selection Logistic Model

In [543]:
val_df = pd.read_csv('val.csv').head()

In [544]:
##Standardize values in test file using same standard deviations/means for the respective features as in training model
test_df = pd.DataFrame()
for feature in forward_stepwise_features:
    test_df[feature] = (val_df[feature] - mean_sd_numeric_features_from_model[feature][0]) / mean_sd_numeric_features_from_model[feature][1]

In [545]:
#Use only 5 features used in the model
X_testdata = test_df[forward_stepwise_features]
X_testdata.head()

       a_59      a_57      a_53      a_51      a_50
0 -0.566570 -0.240109  0.771308 -0.279482 -0.231075
1 -0.289859  0.552609  0.850891  1.585448  0.834622
2  7.115626  4.017081 -0.102863 -0.382646 -0.234226
3  0.443426  0.024130  0.153331 -0.437949 -0.745911
4  0.498768 -0.210750  0.450344  0.121875 -0.206606

In [546]:
pd.DataFrame([proba[1] for proba in forward_stepwise_model.predict_proba(X_testdata)]).to_csv('val_proba.csv', header=False, index=False)

### Regularized Logistic Regression with ALL features

In [539]:
#Setting up K-fold CV function:
def run_cv(X,y,clf_class,**kwargs):
    # Construct a kfolds object
    # kf = KFold(len(y),n_folds=4,shuffle=True)
    #Stretified KFold preserves the class balance in the training and test samples
    #Better for when there's a class imbalance and after up/down-sampling
    kf = StratifiedKFold(y, n_folds=5)
    
    y_pred = y.copy()
    
    # Iterate through folds
    for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        # Initialize a classifier with key word arguments
        clf = clf_class(**kwargs)
        clf.fit(X_train,y_train)
        y_pred[test_index] = clf.predict(X_test)
    return y_pred, clf

In [540]:
def accuracy(y_true,y_pred):
    return np.mean(y_true == y_pred)

In [541]:
print "Logistic Regression:"
y_pred, logit_model = run_cv(X_final_np, Y_final_np, LogisticRegression,
                        C = 0.1,
                        penalty='l1'
                    )

print "AUC Score: %.3f" % metrics.roc_auc_score(Y_final_np, y_pred)

Logistic Regression:
AUC Score: 0.711

In [542]:
import operator
logistic_dict = dict((k, v) for k, v in dict(zip(final_df.columns[1:],logit_model.coef_[0])).items() if v > 0)
sorted(logistic_dict.items(), key=operator.itemgetter(1), reverse=True)

[('a_34', 0.19335063464368893),
 ('a_5', 0.19310643909889116),
 ('a_40', 0.10034661054230476),
 ('a_6', 0.099509836845179403),
 ('a_7', 0.076268474849185239),
 ('a_28', 0.061910556624513141),
 ('a_51', 0.059102480084502959),
 ('a_30', 0.058858521702120137),
 ('a_0', 0.037858649018232542),
 ('a_11', 0.024160449547017775),
 ('a_57', 0.0043182036941185539),
 ('a_8', 0.0022758205233288425)]

### Other reusable codes

In [ ]:
def plot_ROC_curve(classifier, X, y, pos_label=1, n_folds=5):
    mean_tpr = 0.0
    mean_fpr = np.linspace(0, 1, 100)
    all_tpr = []
    for i, (train, test) in enumerate(StratifiedKFold(y, n_folds=n_folds)):
        probas_ = classifier.fit(X[train], y[train]).predict_proba(X[test])
        # Compute ROC curve and area under the curve
        fpr, tpr, thresholds = roc_curve(y[test], probas_[:, 1], pos_label=1)
        mean_tpr += interp(mean_fpr, fpr, tpr)
        mean_tpr[0] = 0.0
        roc_auc = auc(fpr, tpr)
        plt.plot(fpr, tpr, lw=1, label='ROC fold %d (area = %0.2f)' % (i, roc_auc))
    plt.plot([0, 1], [0, 1], '--', color=(0.6, 0.6, 0.6), label='Random')
    mean_tpr /= n_folds
    mean_tpr[-1] = 1.0
    mean_auc = auc(mean_fpr, mean_tpr)
    plt.plot(mean_fpr, mean_tpr, 'k--',
         label='Mean ROC (area = %0.2f)' % mean_auc, lw=2)
    plt.xlim([-0.05, 1.05])
    plt.ylim([-0.05, 1.05])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('Receiver operating characteristic example')
    plt.legend(loc="lower right")
    plt.show()

In [ ]:
def plot_PR_curve(classifier, X, y, n_folds=5):
    """
    Plot a basic precision/recall curve.
    """
    for i, (train, test) in enumerate(StratifiedKFold(y, n_folds=n_folds)):
        probas_ = classifier.fit(X[train], y[train]).predict_proba(X[test])
        # Compute ROC curve and area the curve
        precision, recall, thresholds = precision_recall_curve(y[test], probas_[:, 1],
                                                               pos_label=1)
        plt.plot(recall, precision, lw=1, label='PR fold %d' % (i,))
   #  clf_name = str(type(classifier))
   # clf_name = clf_name[clf_name.rindex('.')+1:]
    plt.xlim([-0.05, 1.05])
    plt.ylim([-0.05, 1.05])
    plt.xlabel('Recall')
    plt.ylabel('Precision')
    plt.title('Precision-recall curve')
    plt.legend(loc="lower right")
    plt.show()

In [ ]:
clf = DecisionTreeClassifier(min_samples_leaf=5)
predicted = cross_validation.cross_val_predict(clf, covtype.data, covtype.target, cv=5)
metrics.accuracy_score(covtype.target, predicted)

In [ ]:
#Histograms with keyword arguments

x = np.random.normal(0, 0.8, 1000)
y = np.random.normal(-2, 1, 1000)


kwargs = dict(histtype='stepfilled', alpha=0.3, normed=True, bins=50)

plt.hist(x, label='Retained', **kwargs)
plt.hist(y, label='Churned', **kwargs)

plt.title("Histogram of 'trips_in_first_30_days' by Churned/Retained Customers", fontsize=12)
plt.legend(loc='upper right')
# plt.xlim(0,30)
plt.show();